<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demomaster.dao.TReportUserDAO">

    <resultMap id="resultMap" type="demomaster.vo.TReportUserVo">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="reason" property="reason"/>
    </resultMap>

    <insert id="insert"
            parameterType="demomaster.vo.TReportUserVo">
        INSERT INTO `t_report_user`(
        `id` ,
        `user_name` ,
        `reason` 
        )VALUE(
          #{id}  ,
          #{userName}  ,
          #{reason}  
        )
    </insert>

    <insert id="inserts"
            parameterType="java.util.List">
        INSERT INTO `t_report_user`(
        `id`,
        `user_name`,
        `reason`
        )VALUES
        <foreach collection="vos" item="item" separator=",">
            (
            #{item.id},
            #{item.userName},
            #{item.reason}
            )
        </foreach>
    </insert>

    <select id="queryBase" resultMap="resultMap"
            resultType="demomaster.vo.TReportUserVo"
            parameterType="demomaster.vo.TReportUserVo">
        SELECT
        `id`,
        `user_name`,
        `reason`
        FROM `t_report_user`
        <where>
            1 = 1
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="userName != null">
                AND `user_name` = #{userName}
            </if>
            <if test="reason != null">
                AND `reason` = #{reason}
            </if>
        </where>
    </select>

    <update id="updateBase"
            parameterType="demomaster.vo.TReportUserVo">
        UPDATE `t_report_user`
        <set>
            <if test="source.id != null">
                `id` = #{source.id},
            </if>
            <if test="source.userName != null">
                `user_name` = #{source.userName},
            </if>
            <if test="source.reason != null">
                `reason` = #{source.reason}
            </if>
        </set>
        <where>
            1 =1
            <if test="target.id != null">
                AND `id` = #{target.id}
            </if>
            <if test="target.userName != null">
                AND `user_name` = #{target.userName}
            </if>
            <if test="target.reason != null">
                AND `reason` = #{target.reason}
            </if>
        </where>
    </update>

    <update id="updateBaseIncludeNull"
            parameterType="demomaster.vo.TReportUserVo">
        UPDATE `t_report_user`
        <set>
            `id` = #{source.id},
            `user_name` = #{source.userName},
            `reason` = #{source.reason}
        </set>
        <where>
            1 =1
            <if test="target.id != null">
                AND `id` = #{target.id}
            </if>
            <if test="target.userName != null">
                AND `user_name` = #{target.userName}
            </if>
            <if test="target.reason != null">
                AND `reason` = #{target.reason}
            </if>
        </where>
    </update>

    <delete id="deleteBase"
            parameterType="demomaster.vo.TReportUserVo">
        DELETE FROM `t_report_user`
        <where>
            1 =1
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="userName != null">
                AND `user_name` = #{userName}
            </if>
            <if test="reason != null">
                AND `reason` = #{reason}
            </if>
        </where>
    </delete>


    <select id="queryByPrimaryKey" resultMap="resultMap"
            resultType="demomaster.vo.TReportUserVo">
        SELECT
        `id`,
        `user_name`,
        `reason`
        FROM `t_report_user`
        <where>
            1 =1
            AND `id` = #{id}
        </where>
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE FROM `t_report_user`
        <where>
            1 = 1
               AND `id` = #{id}
        </where>
    </delete>

    <update id="updateByPrimaryKey"
            parameterType="demomaster.vo.TReportUserVo">
        UPDATE `t_report_user`
        <set>
               <if test="source.userName != null">
                   `user_name` = #{source.userName},
               </if>
               <if test="source.reason != null">
                   `reason` = #{source.reason}
               </if>
        </set>
        <where>
            1 =1
               AND `id` = #{target.id}
        </where>
    </update>

</mapper>